<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NoticiasRazor1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <a class="navbar-brand text-white" href="Index">Inicio</a>
           
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <form method="get" asp-page="Categoria" class="form-inline mr-sm-2">
                            <select class="form-control my-2 my-sm-0" name="CategoriaId">
                                <option value="1" >Deporte</option>
                                <option value="2" >Musica</option>
                                <option value="3" >Peliculas</option>
                                <option value="4" >Arte</option>
                                <option value="5" >Tecnologia</option>
                                <option value="6" >Politica</option>
                                
                            </select>
                            <button type="submit" class="btn btn-success">Buscar Por Pais</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form method="get" asp-page="Pais" class="form-inline mr-sm-2">
                            <select class="form-control" name="PaisId">
                                <option value="1">Rep Dominicana</option>
                                <option value="2">Estados Unidos</option>
                                <option value="3">Panama</option>
                                <option value="4">Peru</option>
                                <option value="5">Colombia</option>
                                <option value="6">Argentina</option>
                                <option value="7">Venezuela</option>
                                <option value="8">Chile</option>
                                <option value="9">Mexico</option>
                                <option value="10">Suiza</option>
                                <option value="11">Alemania</option>
                                <option value="12">Rusia</option>
                                <option value="13">Japon</option>
                                <option value="14">China</option>

                            </select>
                            <button type="submit" class="btn btn-success  my-2 my-sm-0">Buscar Por Categoria</button>
                        </form>
                    </li>
                    

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - NoticiasRazor1 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
